@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    border: 3px dotted #caca4c;
    border-bottom: 3px solid #74741b;
}

