.MySelect{
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
    background-color: beige;
    font-style: italic;
    transition: .1s;
}
.MySelect:hover{
    background-color: rgb(230, 230, 189);
}
.MySelect:focus{
    background-color: rgb(202, 202, 140);
}